@model BlogApplication.ViewModels.BlogViewModel.DeleteBlogViewModel

@{
    ViewData["title"] = "Delete Post";
}

<form method="post" asp-action="Delete">
    <label asp-for="Id"></label>
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center" >
        <p>Are you sure you want to delete</p>
        <label asp-for="Name"></label>
        </div>
    </div>
</form>